@charset "UTF-8";

 footer{
	width: 1720px;
	height: 280px;
	background-color: skyblue;
} 
.footer_wrap{
	position: relative;
    box-sizing: border-box;
    min-height: 102px;
    margin: 0 auto;
    padding: 64px 64px 94px;
    text-align: left;
    color: skyblue;
    font-size: 12px;
}
.ft_bx_lt{
	position: relative;
    float: left;
    margin-left:180px;
    text-align: left;
}

.ft_bx_ct{
	margin-bottom: 34px;
}

.blind{
	font-size: 32px;
}

.ft_bx_policy{
	padding-top: 100px;
	padding-left: 600px;
    font-size: 12px;
}

.ft_bx_policy span{
	display: inline-block;
    padding: 0 10px;
    color: rgba(255,255,255,.6);
}