@charset "UTF-8";

* {
	magin: 0 auto;
	padding: 0;
}

body {
	position: relative;
}

a{
	text-decoration: none;
}

#join_wrap {
	position: absolute;
	width: 90%;
	height: 100%;
	left: 25%;
}

.join_logo{
	margin-top: 100px; 
	margin-left: 210px;
	width: 400px;
	height: 100px;
}

.join_logo img{
	width: 300px;
}

.join_content{
	position: relative;
	border: 2px solid black;
	border-radius: 15px;
	width: 700px;
	height: 800px;
}

.join_div{
	border: 2px solid black;
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 50px;
	width: 600px;
	height: 180px;
	display: block;
}

.input{
	margin-left: 50px;
	width: 500px;
	height: 60px;
	font-size: 1.3em;
	border: none;
	outline: none;
}

.joinId{
	margin-left: 50px;
	width: 400px;
	height: 60px;
	font-size: 1.3em;
	border: none;
	outline: none;
}

.joinIdChk{
	margin-left: 50px;
	width: 90px;
	height: 60px;
	}


.joinEmail{
	margin-left: 50px;
	width: 400px;
	height: 60px;
	font-size: 1.3em;
	border: none;
	outline: none;
}

.emailNum{
	margin-left: 10px;
	margin-bottom: 5px;
	width: 90px;
	height: 40px;
	border: 2px solid skyblue;
	border-radius: 10px;
	outline: none;
	font-weight: bold;
	color: skyblue;
	background-color: white;
}

.emailNum:hover{
	margin-left: 10px;
	margin-bottom: 5px;
	width: 90px;
	height: 40px;
	border: none;
	border-radius: 10px;
	outline: none;
	font-weight: bold;
	color: white;
	background-color: skyblue;
}

.gender_button{
	width: 400px;
	height: 40px;
	margin-left: 50px;
	margin-top: 20px;
}

.gender_button .joinGender{
	margin: 0;
	width: 30px;
}

.gender_button .sec{
	margin-left: 30px;
}

.gender_button .joinGenderSpan{
	width: 30px;
	height: 60px;
	margin-left: 10px;
	font-size: 1.3em;
	text-align: center;
}

.private_div{
	border: 2px solid black;
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 50px;
	width: 600px;
	height: 300px;
	display: block;
}

.join_button{
	margin-top: 50px;
	margin-left: 50px;
	width: 600px;
	height: 60px;
	border: none;
	border-radius: 13px;
	background-color: skyblue;
	font-size: 1.3em;
	font-weight: bold;
	color: white;
}

.join_button:hover{
	border: 2px solid skyblue;
	background-color: white;
	color: skyblue;
}
